
body {
  text-align: center;
  margin: 0;
}

header {
  background-color: #f15b31;
  color: white;
  padding: 30px 20px;
}

nav {
  background-color: #00a6b3;
  color: white;
  padding: 20px 0;
}

a: hover {
  background-color: grey;
}

main {
  max-width: 850px;
  margin: 35px auto;
}

h1,
h2,
a {
  text-transform: uppercase;
  text-decoration: none;
  font-family: Raleway, sans-serif;
  letter-spacing: 1px;
}

h1 {
  font-weight: 400;
  font-size: 45px;
  margin: 0;
}

h2 {
  color: rgba(0, 40, 80, 1);
  font-weight: 600;
  font-size: 18px;
}

a {
  color: white;
  font-weight: 600;
  font-size: 20px;
  margin: 0 20px;
}

p {
  font-family: "Droid serif", sans-serif;
  line-height: 26px;
  font-size: 18px;
}

footer p {
  font-size: 12px;
  text-align: right;
  padding: 0 20px;
}

img {
  margin: 40px 8px 0 8px;
}
