
body {
	text-align: center;
}

h1, h2, a {
	text-transform: uppercase;
	text-decoration: none;	
	font-family: Raleway;
	letter-spacing: 1px;
}

h1 {
	color: rgba(0,40,80,1);
	font-weight: 400;
	font-size: 45px;
}
h2 {
	color: rgba(0,40,80,1);
	font-weight: 600;
	font-size: 18px;
}
a {
	color: rgba(200, 160, 0, 1);
	font-weight: 600;
	font-size: 20px;
}
p {
	font-family: "Droid serif";
	line-height: 26px;
	font-size: 18px;
	

}
